/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
 html, body {
    height: 100vh;
    margin: 0px
  }
  body {
    display: flex;
    align-items: stretch;
  }
  
  #root {
    width: 100%;
    display: flex;
  }
  